/.idea
/flydb-plug/.gradle
/flydb-plug/.run
/flydb-plug/build
/flydb-plug/.idea
/flydb-plug/out
/flydb-spring-boot-starter/target
/flydb-spring-boot-starter/.idea
/flydb-test/.idea
/flydb-test/target
/doc/.idea/
